<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

   <event name="sales_order_invoice_register">
       <observer name="serole_autoinvoice_observer_autoinvoice" instance="Serole\AutoInvoice\Observer\Autoinvoice" />
   </event>


</config>