<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Serole_RequestQuote::parent" title="RequestQuote" module="Serole_RequestQuote" sortOrder="100" resource="Serole_RequestQuote::parent"/>
		<add id="Serole_RequestQuote::requestquote" title="RequestQuote" module="Serole_RequestQuote" sortOrder="20" parent="Serole_RequestQuote::parent" action="requestquote/requestquote" resource="Serole_RequestQuote::requestquote"/>

    </menu>
</config>