<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Serole_Productattachment::productattachment" title="Brands" module="Serole_Productattachment" sortOrder="20"
             parent="Magento_Catalog::catalog" action="productattachment/productattachment" resource="Serole_Productattachment::productattachment"/>
    </menu>
</config>